@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800&family=Raleway:wght@500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  font-size: 1.3rem;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

header {
  background-color: #333;
  color: whitesmoke;
  text-align: center;
  padding: 2rem;
}

#my-title{
  margin: 15px 0;
}

.dynamic-content-style{
  letter-spacing: 1.3px;
  color:#00ADB5;
  font-weight: 700;
}

section {
  margin: 2rem 1rem;
  /* line-height: 1.5rem; */
}
section h2 {
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

li {
  list-style-position: inside;
}

.content {
  /* border: 2px solid red; */
  /* padding-left: 2rem; */
  margin-top: 1rem;
  font-size: 1rem;
  letter-spacing: 1.5px;
}

ul li {
  list-style-type: circle;
}

/* .profile-pic-figure {
  border: 1px solid;
  width: 40%;
} */
#profile-pic {
  width: 300px;
  height: 300px;
}

.social-links img {
  width: 30px;
  height: 30px;
}

.social-links a {
  text-decoration: none;
  margin-right: 0.5rem;
}

table {
  /* border: lightsalmon solid; */
  width: 100%;
}

table,
th,
td {
  border: 2px solid #333;
  font-size: 1rem;
  text-align: center;
  border-collapse: collapse;
}
th,
td {
  padding: 1rem;
}

.technologies {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
}

/* Projects section */
#projects{
  /* border: 2px solid blue; */
}
#project-tiles-container{
  /* border: 4px solid green; */
  display: flex;
  /* gap: 10px; */
  justify-content: space-between;
  flex-wrap: wrap;
  height: 740px;
  overflow-y: auto;
  margin: 2rem 0;
  padding: 5px 0;
}

#project-tiles-container .project-tile{
  width: 350px;
  height: 350px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#project-tiles-container .project-tile .project-img{
  height: 50%;
  /* border: 2px  solid blue; */
  /* object-fit: cover; */
}
#project-tiles-container .project-tile .project-img img{
  width: 100%;
  height: 100%;
  /* object-fit:contain; */
}
#project-tiles-container .project-tile .project-desc{
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
#project-tiles-container .project-tile .project-desc .project-buttons{
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  gap: 10px;
}

#project-tiles-container .project-tile .project-desc .project-buttons .github{
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  background-color: transparent;
  padding: 9px 35px;
}
#project-tiles-container .project-tile .project-desc .project-buttons .github a{
  color: #000;
  text-decoration: none;
  letter-spacing: 1px;
}
#project-tiles-container .project-tile .project-desc .project-buttons .live{
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 20px;
  background-color: transparent;
  padding: 9px 35px;
  background-color: #00ADB5;
  border:1px solid #00ADB5;
}
#project-tiles-container .project-tile .project-desc .project-buttons .live a{
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;

}


.project-tile h3{
  text-align: center;
  font-size: 1.2rem;
}
.project-tile p{
  font-size: 0.9rem;
  text-align: center;
}

/* form */
#form{
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* border: 2px solid blue; */
}
#form-container{
  /* max-width: 500px; */
  /* border: 2px solid blue; */
  margin: 2rem 0;
}
#form-container #my-email{
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.contact-form {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 1.5rem;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f7f7f7;
}

button[type="submit"] {
  background-color: #00ADB5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #00ADB5;
}
#my-email{
  padding: 10px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
}
#my-email img{
  width: 30px;
  height: 30px;
  margin-right: 10px;
}